BasedOnStyle: Google
Language: Cpp

AlignTrailingComments: True
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: All
BinPackArguments: False
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
CompactNamespaces: False
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: False
SpaceInEmptyParentheses: False
SpaceBeforeAssignmentOperators: True
SpaceBeforeParens: ControlStatements