version: "3"

services:
  truck:
    container_name: "${CONTAINER_NAME:-truck-${USER}-CUSTOM}"
#    image: "registry.robotics-lab.ru/truck:0.10.1"
    image: "truck_with_g2o:latest"
    privileged: true
    runtime: "${DOCKER_RUNTIME:-runc}"
    build:
      dockerfile: Dockerfile
      context: .
      x-bake:
        platforms:
          - linux/arm64
          - linux/amd64
        cache-from:
          - type=registry,ref=registry.robotics-lab.ru/truck:cache-arm64
          - type=registry,ref=registry.robotics-lab.ru/truck:cache-amd64
        cache-to:
          - type=registry,ref=registry.robotics-lab.ru/truck:cache-arm64,mode=max
          - type=registry,ref=registry.robotics-lab.ru/truck:cache-amd64,mode=max
    ports:
      - "${FOXGLOVE_PORT:-8765}:8765"
      - "${VIDEO_STREAMING_PORT:-8889}:8889"
      - "${GAZEBO_PORT:-11345}:11345"
    volumes:
      - "${PWD}:/truck"
      - "/dev:/dev"

networks:
  default:
    name: "${CONTAINER_NAME:-truck-${USER}}"
