annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "3.12" and platform_python_implementation == "PyPy"
foxglove-websocket==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
lz4==4.3.3 ; python_version >= "3.11" and python_version < "3.12"
mcap==1.2.2 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.12" and platform_python_implementation == "PyPy"
pydantic-core==2.27.2 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.10.6 ; python_version >= "3.11" and python_version < "3.12"
pyserial==3.5 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.12"
websockets==14.2 ; python_version >= "3.11" and python_version < "3.12"
zstandard==0.23.0 ; python_version >= "3.11" and python_version < "3.12"
