shape:
  length: 0.505        # m
  width: 0.313         # m
  base_to_rear: 0.2525 # m
  circles_count: 5     # qnt

wheel_base:
  length: 0.405        # m
  width: 0.213         # m
  base_to_rear: 0.2025 # m

limits:
  steering: { inner: 40.0, outer: 40.0 }   # deg
  max_abs_curvature: 2.0                   # 1/m
  velocity: { min: -0.5, max: +0.8 }        # m/s
  acceleration: { min: -2.0, max: +1.0 }   # m/s^2

wheel_radius: 0.0525 # m
# Motor to differential ratio. See docs/gearbox.md for more info.
gear_ratio: 0.08421
servo_home_angles: {left: 89, right: 96}  # deg