@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';

$nav-link-color: $light;
$nav-tabs-border-width: 3px;
$nav-tabs-border-color: $white;
$nav-tabs-link-active-border-color: $white;
